body{
  text-align: center;
}

.programMenuList{
  display: inline-block;
}

body * h1{
  color: #0000FF
}

body * h2{
  color: #0000FF
}

.strech{
  padding-top: 20px
}

.warmingUp{
  padding-top: 30px
}

.training{
  padding-top: 40px
}

.massageOrCooldown{
  padding-top: 50px
}
  
